<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About us!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

              <!-- Custom CSS for background color -->
      <style>
          body{
              background-color: #2E2E2E;
              color: white;
          }
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">Text Utils</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000">Home</a>
        <a class="nav-link" href="http://127.0.0.1:8000/about">About us</a>
        <a class="nav-link" href="http://127.0.0.1:8000/contactus">Contact us</a>
      </div>
    </div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
  <div class="container">
    <h1>
      About us!!
    </h1>
    <p>Welcome to Text Utils, your one-stop solution for text manipulation and analysis! <br>
      <strong>Meet the Team
</strong> <br> <br>
      <strong>Ayaz Khan</strong> - Founder <br>
      Hi there! I'm Ayaz Khan, and I'm currently pursuing my Bachelor of Science in Information Technology at the Islamia University of Bahawalpur. I'm passionate about technology and its endless possibilities. During my journey in the IT field, I've realized the importance of simplifying everyday tasks, and that's why I decided to create Text Utils.
     <br> <strong>Our Mission
      </strong> <br>
      At Text Utils, our mission is to make text manipulation easy and accessible to everyone. Whether you're a student, professional, or just someone looking to simplify your text-related tasks, we've got you covered. Our user-friendly interface allows you to perform a variety of text operations with just a few clicks.
      <strong>Internship Experience
</strong><br>
      I am currently interning at Engimatix Software House as a Django intern. This experience has given me valuable insights into web development and has contributed to the growth and improvement of Text Utils. I am excited to bring the knowledge and skills I've gained during my internship to enhance the functionality and user experience of our platform.<br>
      <strong>What We Offer
</strong><br>
      Text Utils provides a range of text processing features, including:
      <ul>
    <li><strong> Remove Punctuation: </strong>Clean up your text by easily removing punctuation marks.
</li>
    <li>
      <strong>Total Word Count: </strong> Quickly find out how many words are in your text.
    </li>
      <li>
        <strong>Capitalize:</strong> Convert text to sentence case.
      </li>
      <li>
         <strong> Convert to Upper Case:</strong> Change text to uppercase for emphasis.
      </li>
      <li>
          <strong>Remove Spaces:</strong> Eliminate extra spaces from your text.
      </li>
      <li>
          <strong>Lower Text: </strong>Transform text to lowercase for consistency.

      </li>
  </ul>
      We are committed to continuously improving our services to meet your text manipulation needs.

Thank you for choosing Text Utils as your text processing solution. We appreciate your trust in our platform and look forward to serving you better with each update.

If you have any suggestions, feedback, or questions, please don't hesitate to contact us at any time. Your input is invaluable to us.
<br>
Sincerely,
<br>
      <strong>Ayaz Khan</strong>
Founder, Text Utils


</p>
  </div>